.container
  .identity{style: "width:450px;"}
    %div{style: "float:left;"}
      %b TC Kimlik No
      %br/
      %br/
      %b Ad-Soyad
      .session
        .title
          %p Oturum Sınav Bilgileri
          %b Bina adı/adresi
          %br/
          %br/
          %b
            %u Sorumlu Olduğunuz Dersler
    %div{style: "float:right;"}
      %b Öğrenci Numarası
      %br/
      %br/
      %br/
      %br/
      %div{style: "float:right;margin-left:50px"}
        %b Sınav Tarihi
      %b Sınav Saati
    .salon{style: "float:right;"}
      %br/
      %br/
      %br/
      %br/
      %b Salon
      %br/
      %br/
      %b Salon no
      %br/
      %br/
      %b
        Sıra no

- if request.format.html?
  %p
    = link_to  url_for(request.params.merge(:format => :pdf)) do
      = image_tag('/images/pdf_icon.png', :alt => 'Download')
      Download as PDF
     
    

