:css

  .container{
  	position:relative;
  	top:50px;
  	left:80px;
  }

  .tablo{
  	display: table;
  }
  #satir{
  	display:table-row;
  }
  #sutun{
  	display:table-cell;
  	width:300px;
  	height:34px;
  	line-height:32px;
  	font-weight: bold;
  	border:0px solid #002255;
  	
  }
  #sutun.resim{
  	width :50px;
  	height:50px;
  	
  }
%meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
.container

  .tablo
    .identity
      #satir
        #sutun.tc T.C Kimlik No :
        #sutun.numara Öğrenci Numarası :
        #sutun
        #sutun.resim
        - if params[:format] == 'pdf'
          = wicked_pdf_image_tag('house.jpg', :style => "width :100px;height:130px;")
        - else
          = image_tag('/images/house.jpg', :style => "width :100px;height:130px;")
      #satir
        #sutun.isim Adı-Soyadı :
      %br/
      %br/
    .session
      #satir
        #sutun.title Oturum Sınav Bilgileri
        %br/
        %br/
        #sutun.time Sınav Saati :
        #sutun.date Sınav Tarihi :
      #satir
        #sutun.address Bina Adı/Adresi :
        %br/
        %br/
      #satir
        #sutun.lessons
          %u Sorumlu Olduğunuz Dersler
    .salon_loc
      #satir
        #sutun
        #sutun
        #sutun.code Kitapçık Kodu :
      #satir
        #sutun
        #sutun
        #sutun.salon Salon :
      #satir
        #sutun
        #sutun
        #sutun.salon_no Salon No :
      #satir
        #sutun
        #sutun
        #sutun.sira_no Sıra No :
        %br/
        %br/
  .instructions
    %b Sınava Gelirken Yanınızda Bulunmaması Gerekenler
    %ol
      %li
      %li
      %li
  .warnings
    %b Önemli Uyarılar
    %ol
      %li
      %li
      %li
      %br/
      %br/

- if request.format.html?
  %p{style: "position:absolute;left:8in;"}
    = link_to  url_for(request.params.merge(:format => :pdf)) do
      = image_tag('/images/pdf_icon.png', :alt => 'Download',)
      Download as PDF
  %br/
  %br/
     
    

